# Comment 
tempfile.txt
tempfile2.txt
.DS_Store
*.zip
*.gz
log/*.log
log/*.log.[0-9]
assets/photoshop/
assets/videos/
!assets/videos/tour_*.mp4

# question: would log/archive/acces.log be ignored? # No - because after folder inside log/ is file but not folder. need be careful






